{
	dynamic_dns {
		provider duckdns {env.DUCKDNS_API_TOKEN}
		domains {
			duckdns.org {$DUCKDNS_DOMAIN}
		}
	}

	email {env.EMAIL}

	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

*.{$DUCKDNS_DOMAIN}.duckdns.org *.ipfs.kubo.{$DUCKDNS_DOMAIN}.duckdns.org *.ipns.kubo.{$DUCKDNS_DOMAIN}.duckdns.org {
	header Strict-Transport-Security "max-age=63072000"

	log {$DUCKDNS_DOMAIN}.duckdns.org {
		output file /var/log/caddy/{$DUCKDNS_DOMAIN}.duckdns.org.log {
			roll_local_time
		}
	}

	tls {
		dns duckdns {env.DUCKDNS_API_TOKEN}
		protocols tls1.3
		resolvers 2606:4700:4700::1111 1.1.1.1 2606:4700:4700::1001 1.0.0.1 2001:4860:4860::8888 8.8.8.8 2001:4860:4860::8844 8.8.4.4
	}

	@authentik host authentik.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @authentik {
		reverse_proxy authentik-server:9000
	}

	@glances host glances.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @glances {
		# reverse_proxy glances:61208
		reverse_proxy authentik-server:9000
	}

	@kubo host kubo.{$DUCKDNS_DOMAIN}.duckdns.org *.ipfs.kubo.{$DUCKDNS_DOMAIN}.duckdns.org *.ipns.kubo.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @kubo {
		reverse_proxy kubo:8080
	}

	@leanish host leanish.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @leanish {
		reverse_proxy leanish:3000
	}

	@metube host metube.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @metube {
		# reverse_proxy metube:8081
		reverse_proxy authentik-server:9000
	}

	@nextcloud host nextcloud.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @nextcloud {
		encode gzip
		file_server

		php_fastcgi nextcloud:9000 {
			root /var/www/html
		}

		redir /.well-known/caldav /remote.php/dav/ 301
		redir /.well-known/carddav /remote.php/dav/ 301
		root /var/www/nextcloud
	}

	@ollama host ollama.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @ollama {
		basic_auth {
			LAME {$OLLAMA_LAME_PASSWORD}
			Nextcloud {$OLLAMA_NEXTCLOUD_PASSWORD}
		}

		reverse_proxy ollama:11434
	}

	@planka host planka.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @planka {
		reverse_proxy planka:1337
	}

	@send host send.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @send {
		reverse_proxy send:1443
	}

	@tandoor host tandoor.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @tandoor {
		reverse_proxy tandoor:8080
	}

	@uptime-kuma host uptime-kuma.{$DUCKDNS_DOMAIN}.duckdns.org
	handle @uptime-kuma {
		# reverse_proxy uptime-kuma:3001
		reverse_proxy authentik-server:9000
	}
}
