*.natoboram.duckdns.org *.ipfs.kubo.natoboram.duckdns.org *.ipns.kubo.natoboram.duckdns.org {
	tls {
		dns duckdns {env.DUCKDNS_API_TOKEN}
		protocols tls1.3
		resolvers 1.1.1.1 1.0.0.1 8.8.8.8 8.8.4.4
	}

	@kubo host kubo.natoboram.duckdns.org *.ipfs.kubo.natoboram.duckdns.org *.ipns.kubo.natoboram.duckdns.org
	handle @kubo {
		reverse_proxy kubo:8080
	}

	@leanish host leanish.natoboram.duckdns.org
	handle @leanish {
		reverse_proxy leanish:3000
	}

	@send host send.natoboram.duckdns.org
	handle @send {
		reverse_proxy send:1443
	}
}
