version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: "⬆️ "
    groups:
      patch:
        update-types:
          - patch
      minor-development:
        update-types:
          - minor
        dependency-type: development
      minor-production:
        update-types:
          - minor
        dependency-type: production

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: "⬆️ "
    groups:
      actions:
        patterns:
          - actions/*
      docker:
        patterns:
          - docker/*

  - package-ecosystem: docker-compose
    directory: /corsair
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: "⬆️ "

  - package-ecosystem: docker-compose
    directory: /olea
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: "⬆️ "

  - package-ecosystem: docker-compose
    directory: /phantom
    schedule:
      interval: monthly
      timezone: America/Toronto
    commit-message:
      prefix: "⬆️ "
