networks:
  dozzle:
    enable_ipv6: true

secrets:
  cert:
    file: ./secrets/cert.pem
  key:
    file: ./secrets/key.pem

services:
  dozzle:
    container_name: dozzle
    depends_on:
      - authentik-server
      - caddy
    env_file:
      - .env.dozzle
      - .env.dozzle.local
    environment:
      DOZZLE_AUTH_PROVIDER: forward-proxy
      DOZZLE_AUTH_HEADER_EMAIL: X-Authentik-Email
      DOZZLE_AUTH_HEADER_NAME: X-Authentik-Name
      DOZZLE_AUTH_HEADER_USER: X-Authentik-Username
      DOZZLE_AUTH_LOGOUT_URL: /outpost.goauthentik.io/sign_out
    healthcheck:
      interval: 5s
      retries: 5
      start_interval: 5s
      start_period: 5s
      test: ["CMD", "/dozzle", "healthcheck"]
    hostname: phantom
    image: amir20/dozzle
    networks:
      - authentik-dozzle
      - caddy-dozzle
      - dozzle
    restart: always
    secrets:
      - source: cert
        target: /dozzle_cert.pem
      - source: key
        target: /dozzle_key.pem
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
