networks:
  forgejo-postgres:

services:
  forgejo:
    container_name: forgejo
    depends_on:
      authentik-server:
        condition: service_started
      caddy:
        condition: service_started
      forgejo-postgres:
        condition: service_healthy
    env_file:
      - path: .env.forgejo
      - path: .env.forgejo.local
    environment:
      FORGEJO__cron__ENABLED: true

      FORGEJO__database__DB_TYPE: postgres
      FORGEJO__database__HOST: forgejo-postgres:5432
      FORGEJO__database__NAME: forgejo
      FORGEJO__database__USER: forgejo

      FORGEJO__openid__ENABLE_OPENID_SIGNIN: false
      FORGEJO__openid__ENABLE_OPENID_SIGNUP: false

      FORGEJO__repository__PREFERRED_LICENSES: AGPL-3.0-or-later, GPL-3.0-or-later, MPL-2.0

      FORGEJO__repository.pull-request__DEFAULT_MERGE_STYLE: fast-forward-only
      FORGEJO__repository.signing__CRUD_ACTIONS: always
      FORGEJO__repository.signing__MERGES: always
      FORGEJO__repository.signing__WIKI: always

      FORGEJO__security__GLOBAL_TWO_FACTOR_REQUIREMENT: admin
      FORGEJO__security__PASSWORD_CHECK_PWN: true
      FORGEJO__security__PASSWORD_HASH_ALGO: argon2

      FORGEJO__server__ENABLE_GZIP: true
      FORGEJO__server__OFFLINE_MODE: false

      FORGEJO__service__ALLOW_ONLY_EXTERNAL_REGISTRATION: true
      FORGEJO__service__DEFAULT_KEEP_EMAIL_PRIVATE: true
      FORGEJO__service__ENABLE_INTERNAL_SIGNIN: false

      FORGEJO__ui__SHOW_USER_EMAIL: false
    image: codeberg.org/forgejo/forgejo:13
    networks:
      - authentik-forgejo
      - caddy-forgejo
      - forgejo-postgres
    restart: always
    volumes:
      - forgejo:/data

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  forgejo-postgres:
    container_name: forgejo-postgres
    env_file:
      - path: .env.forgejo-postgres
      - path: .env.forgejo-postgres.local
    environment:
      POSTGRES_DB: forgejo
      POSTGRES_USER: forgejo
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s
    image: postgres:18-alpine
    networks:
      - forgejo-postgres
      - uptime-kuma-forgejo-postgres
    restart: always
    volumes:
      - forgejo-postgres:/var/lib/postgresql

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

volumes:
  forgejo:
  forgejo-postgres:
