services:
  backrest:
    image: garethgeorge/backrest:latest
    container_name: backrest
    depends_on:
      - caddy
    env_file:
      - .env.backrest
      - .env.backrest.local
    hostname: backrest
    networks:
      - caddy-backrest
    restart: always
    volumes:
      - backrest-cache:/cache
      - backrest-config:/config
      - backrest-data:/data
      - backrest-rclone:/root/.config/rclone
      - backrest-repos:/repos
      - backrest-tmp:/tmp

      - ..:/userdata/phantom:ro
      - authentik-media:/userdata/authentik-media:ro
      - authentik-postgres:/userdata/authentik-postgres:ro
      - beszel:/userdata/beszel:ro
      - forgejo-postgres:/userdata/forgejo-postgres:ro
      - forgejo:/userdata/forgejo:ro
      - jellyfin-config:/userdata/jellyfin-config:ro
      - kubo:/userdata/kubo:ro
      - nextcloud-postgres:/userdata/nextcloud-postgres:ro
      - nextcloud-redis:/userdata/nextcloud-redis:ro
      - nextcloud:/userdata/nextcloud:ro
      - qbittorrent-config:/userdata/qbittorrent-config:ro
      - tandoor-mediafiles:/userdata/tandoor-mediafiles:ro
      - tandoor-postgres:/userdata/tandoor-postgres:ro
      - tandoor-staticfiles:/userdata/tandoor-staticfiles:ro
      - uptime-kuma:/userdata/uptime-kuma:ro

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

volumes:
  backrest-cache:
  backrest-config:
  backrest-data:
  backrest-rclone:
  backrest-repos:
  backrest-tmp:
