services:
  backrest:
    image: garethgeorge/backrest:latest
    container_name: backrest
    depends_on:
      - caddy
    env_file:
      - .env.backrest
      - .env.backrest.local
    hostname: backrest
    networks:
      - caddy-backrest
    restart: always
    volumes:
      - backrest-cache:/cache
      - backrest-config:/config
      - backrest-data:/data
      - backrest-rclone:/root/.config/rclone
      - backrest-repos:/repos
      - backrest-tmp:/tmp

      - ..:/userdata/phantom
      - authentik-media:/userdata/authentik-media
      - authentik-postgres:/userdata/authentik-postgres
      - beszel:/userdata/beszel
      - forgejo-postgres:/userdata/forgejo-postgres
      - forgejo:/userdata/forgejo
      - jellyfin-config:/userdata/jellyfin-config
      - kubo:/userdata/kubo
      - nextcloud-postgres:/userdata/nextcloud-postgres
      - nextcloud-redis:/userdata/nextcloud-redis
      - nextcloud:/userdata/nextcloud
      - qbittorrent-config:/userdata/qbittorrent-config
      - uptime-kuma:/userdata/uptime-kuma

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

volumes:
  backrest-cache:
  backrest-config:
  backrest-data:
  backrest-rclone:
  backrest-repos:
  backrest-tmp:
