networks:
  tandoor-ollama:
  tandoor-postgres:

secrets:
  SECRET_KEY:
    file: ./secrets/SECRET_KEY

services:
  tandoor:
    container_name: tandoor
    depends_on:
      - authentik-server
      - caddy
      - tandoor-postgres
    env_file:
      - path: .env.tandoor
      - path: .env.tandoor.local
    environment:
      DB_ENGINE: django.db.backends.postgresql
      POSTGRES_DB: tandoor
      POSTGRES_HOST: tandoor-postgres
      POSTGRES_USER: tandoor
      SECRET_KEY_FILE: /run/secrets/SECRET_KEY
      TZ: America/Toronto
    image: vabene1111/recipes:latest
    networks:
      - caddy-tandoor
      - tandoor-ollama
      - tandoor-postgres
    restart: always
    secrets:
      - SECRET_KEY
    volumes:
      - tandoor-staticfiles:/opt/recipes/staticfiles
      - tandoor-mediafiles:/opt/recipes/mediafiles

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  tandoor-postgres:
    container_name: tandoor-postgres
    env_file:
      - path: .env.tandoor-postgres
      - path: .env.tandoor-postgres.local
    environment:
      POSTGRES_DB: tandoor
      POSTGRES_USER: tandoor
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s
    image: postgres:18-alpine
    networks:
      - tandoor-postgres
      - uptime-kuma-tandoor-postgres
    restart: always
    volumes:
      - tandoor-postgres:/var/lib/postgresql

      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

volumes:
  tandoor-staticfiles:
  tandoor-mediafiles:
  tandoor-postgres:
